body {
    background-color: #cecece;
    padding: 32px;
}
button {
    margin: 25px 15px;
    border: none;
    border-radius: 5px;
    border: 1px solid lime;
    padding: 15px 35px;
}
button:hover {
    outline: 1px solid white;
    outline-offset: -2px; /*скругление*/
    cursor: pointer; /*изменение курсора*/
}
.button1 {
    background-image: linear-gradient(#76B9CC, #97cc76); /*линейный градиент*/
}
.button2 {
    background-image: linear-gradient(#76B9CC, #CC208A, /*линейный градиент из 3 цветов*/
    #97cc76);
}
.button3 {
    background-image: linear-gradient(#76B9CC, #CC208A, /*линейный градиент из 4 цветов*/
#97cc76, #B34EE9);
}
.button4 { 
    background-image: linear-gradient(blue 5%, lime 30%,  /*линейный градиент из 4 цветов с процентым содержанием*/
    #97cc76 80%, #B34EE9 90%);
}
.button5 {
    background-image: linear-gradient(blue 5px, lime 15px,  /*линейный градиент из 4 цветов со значениями в пикселах*/
    white 30px, black 50px);
    }
.button6 {
    background-image: linear-gradient(25deg, blue, lime); /*Линейный градиент под углом 25 градусов*/
}
.button7 {
    background-image: radial-gradient(red 0%, yellow 30%); /*радиальный градиент из двух цветов*/
}
.button8 {
    background-image: radial-gradient(at top right, red, /*радиальный градиент из двух цветов с центром в верхнем правом углу*/
yellow);
}
.button9 {
    background-image: radial-gradient(farthest-corner at
    25% 50%,
    #f35 0%, #43e 100%); /*радиальный градиент из двух цветов центром в левом углу со смещением*/
}
.button10 {
    background-image: radial-gradient(15px 15px at 85% 25%, /*радиальный градиент с неравномерным распредеоением цветов*/
    #f35 0%, #43e 100%);
}