h1 {
    text-align: center;
}

p {
    text-align: center;
}

font {
    size: 20;
}


body {
    width: 790px;
    margin: 0 auto;
    padding: 50px 0 100px;
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;  
    background-color: #ebebeb;
}

td {
    padding: 10px 20px;
}